In [8]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/vitor/.local/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.22.4 in /home/vitor/.local/lib/python3.10/site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vitor/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/vitor/.local/lib/python3.10/site-packages (from pandas) (2021.3)
Requirement already satisfied: tzdata>=2022.1 in /home/vitor/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd  

tabela = pd.DataFrame(
    {"Nome": ["Lira", "Fabricio"], 
     "Idade": [35, 28]})
display(tabela)

       Nome  Idade
0      Lira     35
1  Fabricio     28